# Introduction

Colaboratory, or "Colab" for short, allows you to write and execute Python in your browser, with

    Zero configuration required
    Free access to GPUs
    Easy sharing

# Prepocessing Data
In this activity  we will walk through how to clean-up a dataset using the concepts we talked about in lecture.

You will learn how to find 

* outliers: numbers that are outof range.
* duplicates: repetitive rows or records.
* missing values: data missing due to human error or missing information
* bad characters or NULL values: NA or NAN values


# Dataset 
The documentation for the dataset is a list of movies from IMDB. Download the dataset from the link on the canvas activity page.

In [0]:
# libraries we will be using
import numpy as np
import pandas as pd

# visualization library
import altair as alt

In [0]:
# begin by loading the dataset
# ensure to set the encoding type and the separator
DATA_LOCATION = '/content/IMDB-Movie-Data.csv'
df = pd.read_csv(DATA_LOCATION, encoding='utf-8')

# how do you get a quick view of the top 10 rows?
print(df.head(10));

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0
5     6           The Great Wall  ...              45.13      42.0
6     7               La La Land  ...             151.06      93.0
7     8                 Mindhorn  ...                NaN      71.0
8     9       The Lost City of Z  ...               8.01      78.0
9    10               Passengers  ...             100.01      41.0

[10 rows x 12 columns]

In [0]:
# show the columns (output should be a list)
print('COLUMNS')
for col in df.columns: 
    print(col)

# print the types for each column
print(df.dtypes);

# check if their is a unique column
df.columns.is_unique
df.columns.unique

COLUMNS
Rank
Title
Genre
Description
Director
Actors
Year
Runtime (Minutes)
Rating
Votes
Revenue (Millions)
Metascore
Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

<bound method Index.unique of Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')>

Hopefully, you should see the following columns (you won't see the description):

* Rank: Movie rank order.
* Title: The title of the film.
* Genre: A comma-separated list of genres used to classify the film.
* Description: Brief one-sentence movie summary.
* Director: The name of the film's director.
* Actors: A comma-separated list of the main stars of the film.
* Year: The year that the film released as an integer.
* Runtime (Minutes): The duration of the film in minutes.
* Rating: User rating for the movie 0-10
* Votes: Number of votes: 
* Revenue (Millions): Movie revenue in millions
* Metascore: An aggregated average of critic scores. Values are between 0 and 100. Higher scores represent positive reviews.

# Index
Next, let's check that our data has index values. If so, we know we can do joins and merges later on.

In [0]:
# Next, let's check if our data has index values. If so, we know that we can do jooins and merges later on.
# Check the index values

print(df.index)

# Check if a certain index exists
#checking any random row
print(5 in df.index.values)

#'foo' in df.index.values
#checking of 100 exist in values
100 in df.index.values

# If index does not exist
df.index.contains(1001)

#df.set_index('column_name_to_use', inplace=True)
df.set_index('Title',inplace=True)

df.head()

RangeIndex(start=0, stop=1000, step=1)
True

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: FutureWarning: The 'contains' method is deprecated and will be removed in a future version. Use 'key in index' instead of 'index.contains(key)'
  del sys.path[0]

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0

[5 rows x 11 columns]

Given that we know what are all of the columns we need to figure out if there any that we don't need. 

Let's get rid of rank.

In [0]:
# Create list comprehension of the columns you want to lose
drop_cols = [i for i in df.columns if(i== 'Rank')]
# drop_columns=['Rank']
print(drop_cols)

# Drop unwanted columns
df.drop(drop_cols,axis=1)
print(df)

# filter dataset such that we only see movies in english
#Filtering the data where Rank is less than 100
print( df[df.Rank < 100])

['Rank']
                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0
...                       ...  ...       ...
Secret in Their Eyes      996  ...      45.0
Hostel: Part II           997  ...      46.0
Step Up 2: The Streets    998  ...      50.0
Search Party              999  ...      22.0
Nine Lives               1000  ...      11.0

[1000 rows x 11 columns]
                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0
...                       ...  ...       ...
Avengers: Age of Ultron    95  ...      66.0
The Nice Guys              96  ...      70.0
Kimi no na wa              97  ...      79.0
The Void                   98  ...      62.0
Personal Shopper           99  ...      77.0

[99 rows x 11 columns]

A common problem with data is missing values and what to do about it.

We could
* drop the row all together
* replace the value

Let's start by filling in the NaN values

In [0]:
# How can we find out if a row has NaN Values?
print(df.isna().sum().sort_values(ascending=False))


# Fill NaN with ' '
temp=df.copy();
temp.fillna(' ',inplace=True);
print(temp)


# Fill NaN with 99
temp2=df.copy()
temp2.fillna(99,inplace=True)

# Fill NaN with the mean of the column
temp3=df.copy()
temp3.fillna(df.mean())

# Drop any rows which have any nans
temp4=df.copy()

temp4.dropna()

# # Only drop columns which have at least 90% non-NaNs
temp5=df.copy()
temp5.dropna(thresh=df.shape[0]*0.9,how='all',axis=1)

Revenue (Millions)    128
Metascore              64
Votes                   0
Rating                  0
Runtime (Minutes)       0
Year                    0
Actors                  0
Director                0
Description             0
Genre                   0
Rank                    0
dtype: int64
                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...        76
Prometheus                  2  ...        65
Split                       3  ...        62
Sing                        4  ...        59
Suicide Squad               5  ...        40
...                       ...  ...       ...
Secret in Their Eyes      996  ...        45
Hostel: Part II           997  ...        46
Step Up 2: The Streets    998  ...        50
Search Party              999  ...        22
Nine Lives               1000  ...        11

[1000 rows x 11 columns]

                         Rank                     Genre  ...   Votes Metascore
Title                                                    ...
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi  ...  757074      76.0
Prometheus                  2  Adventure,Mystery,Sci-Fi  ...  485820      65.0
Split                       3           Horror,Thriller  ...  157606      62.0
Sing                        4   Animation,Comedy,Family  ...   60545      59.0
Suicide Squad               5  Action,Adventure,Fantasy  ...  393727      40.0
...                       ...                       ...  ...     ...       ...
Secret in Their Eyes      996       Crime,Drama,Mystery  ...   27585      45.0
Hostel: Part II           997                    Horror  ...   73152      46.0
Step Up 2: The Streets    998       Drama,Music,Romance  ...   70699      50.0
Search Party              999          Adventure,Comedy  ...    4881      22.0
Nine Lives               1000     Comedy,Family,Fantasy  ...   12435      11.0

[1000 rows x 10 columns]

In [0]:
# Unify Title names to all have upper case names
df['Director']=df['Director'].str.upper()

# Let's say an actor uses their nick name, but you want to merge them.
# For example, You might see records with Spike Lee and Shelton Jackson but they are the same person.
# How would you do that? (Change so all records say Spike Lee)
df.replace(to_replace ="Shelton Jackson", 
                 value ="Spike Lee") 

# Bad data entry
# How do remove bad entries with text such as Nan, N/A, NUll with ''
df.replace(to_replace =[np.nan,"N/A","NULL"], 
                 value ="' '") 

# How do I replace characters such as 'Â' with a blank?
df.replace('A',' ', inplace=True)

# Handling outliers
# for runtime or revenue, set them to be floats
df['Runtime (Minutes)'] = df['Runtime (Minutes)'].apply(np.int64)


# If runtime is less than 10 set it to 0

df.loc[df['Runtime (Minutes)'] < 10 ] = 0;
df.loc[df['Runtime (Minutes)'] > 300 ] =0; 
# If runtime is more than 300 set also to 0

# spliting actors
actor_list = df["Actors"].str.split(",", n = 2, expand = True) 
df["actor1"]= actor_list[0] 
df["actor2"]= actor_list[1] 
df["actor3"]= actor_list[2] 
df.drop(columns=['Actors'], inplace=True)
actor_list

                                           0  ...                                     2
Title                                         ...
Guardians of the Galaxy          Chris Pratt  ...           Bradley Cooper, Zoe Saldana
Prometheus                      Noomi Rapace  ...   Michael Fassbender, Charlize Theron
Split                           James McAvoy  ...     Haley Lu Richardson, Jessica Sula
Sing                     Matthew McConaughey  ...   Seth MacFarlane, Scarlett Johansson
Suicide Squad                     Will Smith  ...            Margot Robbie, Viola Davis
...                                      ...  ...                                   ...
Secret in Their Eyes        Chiwetel Ejiofor  ...            Julia Roberts, Dean Norris
Hostel: Part II                Lauren German  ...            Bijou Phillips, Roger Bart
Step Up 2: The Streets        Robert Hoffman  ...        Cassie Ventura, Adam G. Sevani
Search Party                      Adam Pally  ...   Thomas Middleditch,Shannon Woodward
Nine Lives                      Kevin Spacey  ...             Robbie Amell,Cheryl Hines

[1000 rows x 3 columns]

In [0]:
# install the following libraries
!pip install ftfy beautifier

Collecting ftfy
  Downloading https://files.pythonhosted.org/packages/ec/d8/5e877ac5e827eaa41a7ea8c0dc1d3042e05d7e337604dc2aedb854e7b500/ftfy-5.7.tar.gz (58kB)
     |████████████████████████████████| 61kB 2.0MB/s
Collecting beautifier
  Downloading https://files.pythonhosted.org/packages/0a/96/6e4ff20e40ae2c80f5cacca761277606c04cd980fd20067f69b90791276b/beautifier-0.5.5.tar.gz
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from ftfy) (0.1.8)
Building wheels for collected packages: ftfy, beautifier
  Building wheel for ftfy (setup.py) ... done
  Created wheel for ftfy: filename=ftfy-5.7-cp36-none-any.whl size=44593 sha256=831259f21ebc4b80d71ca35d609d2aa7fa6cb2d0889099a0773348f300d0cf66
  Stored in directory: /root/.cache/pip/wheels/8e/da/59/6c8925d571aacade638a0f515960c21c0887af1bfe31908fbf
  Building wheel for beautifier (setup.py) ... done
  Created wheel for beautifier: filename=beautifier-0.5.5-cp36-none-any.whl size=19301 sha256=492bb3c58543e57239d722e142fd195407274b74dac636f994d50ab033746a0a
  Stored in directory: /root/.cache/pip/wheels/46/8f/89/216996f4cabf6fb585715fd441415b461e10019bf89132e215
Successfully built ftfy beautifier
Installing collected packages: ftfy, beautifier
Successfully installed beautifier-0.5.5 ftfy-5.7

In [0]:
# dealing with Unicode

import ftfy
foo = '&macr;\\_(ã\x83\x84)_/&macr;'
bar = '\ufeffParty'
baz = '\001\033[36;44mI&#x92;m'
print(ftfy.fix_text(foo))
print(ftfy.fix_text(bar))
print(ftfy.fix_text(baz))

ftfy.explain_unicode(foo)


from beautifier import Email, Url
email_string = 'foo@bar.com'
email = Email(email_string)
print(email.domain)
print(email.username)
print(email.is_free_email)

url_string = 'https://github.com/labtocat/beautifier/blob/master/beautifier/__init__.py'
url = Url(url_string)
print(url.param)
print(url.username)
print(url.domain)

¯\_(ツ)_/¯
Party
I'm
U+0026  &       [Po] AMPERSAND
U+006D  m       [Ll] LATIN SMALL LETTER M
U+0061  a       [Ll] LATIN SMALL LETTER A
U+0063  c       [Ll] LATIN SMALL LETTER C
U+0072  r       [Ll] LATIN SMALL LETTER R
U+003B  ;       [Po] SEMICOLON
U+005C  \       [Po] REVERSE SOLIDUS
U+005F  _       [Pc] LOW LINE
U+0028  (       [Ps] LEFT PARENTHESIS
U+00E3  ã       [Ll] LATIN SMALL LETTER A WITH TILDE
U+0083  \x83    [Cc] <unknown>
U+0084  \x84    [Cc] <unknown>
U+0029  )       [Pe] RIGHT PARENTHESIS
U+005F  _       [Pc] LOW LINE
U+002F  /       [Po] SOLIDUS
U+0026  &       [Po] AMPERSAND
U+006D  m       [Ll] LATIN SMALL LETTER M
U+0061  a       [Ll] LATIN SMALL LETTER A
U+0063  c       [Ll] LATIN SMALL LETTER C
U+0072  r       [Ll] LATIN SMALL LETTER R
U+003B  ;       [Po] SEMICOLON
bar.com
foo
False
None
{'msg': 'feature is currently available only with linkedin urls'}
github.com